.causes
    &__title
        text-align: center
        font-size: 36px
        +bold
    &__line
        margin-top: 20px
    &-list
        margin-top: 70px
        display: flex
        flex-wrap: wrap
        justify-content: center
        &__item
           flex-basis: 33%
           &:nth-last-child(-n+2)
               margin-top: 45px
        &__image
            margin: 0 auto
            width: 170px
            height: 170px
            border-radius: 50%
            border: none
        &__text
            margin-top: 20px
            display: block
            text-align: center
            font-size: 16px
@media screen and ( max-width: 768px )
    .causes
        &-list
            margin-top: 20px
            &__item
                flex-basis: 50%
                margin-top: 45px
@media screen and ( max-width: 569px )
    .causes
        padding: 50px 0
        &__title
            font-size: 26px
        &-list
            margin-top: 40px
            &__item
                flex-basis: 100%
                margin-top: 45px