.navbar
    padding-top: 20px
    display: flex
    justify-content: space-between
    align-items: center
    &__contacts
        display: flex
        flex-direction: column
        text-align: right
    &__phone
        color: $second-text-color
        font-size: 20px
        line-height: 18px
    &__text
        color: $second-text-color
        margin-bottom: 10px
@media screen and ( max-width: 569px )
    .navbar
        &__text
            font-size: 12px
        &__phone
            font-size: 16px