.reviews
    &__title
        text-align: center
        font-size: 36px
        +bold
        margin-bottom: 20px
    &__line
        margin-bottom: 80px
    &-slider
        display: block
        position: relative
        &__image
            max-width: 150px
            max-height: 150px
        &__slide
            display: flex
            justify-content: center
        &__title
            font-size: 18px
            margin-bottom: 5px
            &-bold
                +bold
        &__link
            text-decoration: underline
            color: $link-reviews
            font-size: 12px
        &__review
            margin-top: 17px
            width: 640px
            font-size: 14px
            +italic
        &__text
            margin-left: 40px
        &__dots
            display: flex
            justify-content: center
            margin-top: 50px
        &__dot
            cursor: pointer
            margin-right: 14px
            list-style-type: none
            width: 10px
            height: 10px
            background-color: $slider-dots
            border-radius: 50%
        &__active-dot
            background-color: $main-color
        &__left-arrow
            position: absolute
            top: 35%
            left: 50px
            cursor: pointer
        &__right-arrow
            position: absolute
            top: 35%
            right: 50px
            transform: rotate(180deg)
            cursor: pointer