@font-face {
  font-family: 'Muller-Medium';
  src: local("Muller Medium"), local("Muller-Medium"), url("../fonts/Muller/MullerMedium.woff2") format("woff2"), url("../fonts/Muller/MullerMedium.woff") format("woff"), url("../fonts/Muller/MullerMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Muller-Regular';
  src: local("Muller Regular"), local("Muller-Regular"), url("../fonts/Muller/MullerRegular.woff2") format("woff2"), url("../fonts/Muller/MullerRegular.woff") format("woff"), url("../fonts/Muller/MullerRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Muller-Italic';
  src: local("Muller Regular Italic"), local("Muller-Regular-Italic"), url("../fonts/Muller/MullerRegularItalic.woff2") format("woff2"), url("../fonts/Muller/MullerRegularItalic.woff") format("woff"), url("../fonts/Muller/MullerRegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Muller-Regular', sans-serif;
  font-weight: 300;
  line-height: 1.2;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 90%;
  }
}

.button {
  cursor: pointer;
  border: 2.0px solid;
  background-color: transparent;
  font-family: 'Muller-Medium', sans-serif;
  font-weight: 700;
}

.section {
  padding: 80px 0;
}

.title-line {
  display: block;
  margin: 0 auto;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.header {
  background-image: url("../img/header/bg_header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 40px;
}

.navbar {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

.navbar__phone {
  color: #ffffff;
  font-size: 20px;
  line-height: 18px;
}

.navbar__text {
  color: #ffffff;
  margin-bottom: 10px;
}

.hero__title {
  margin-top: 180px;
  text-align: center;
  font-size: 60px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Muller-Medium', sans-serif;
  font-weight: 700;
}

.hero__subtitle {
  margin-top: 45px;
  text-align: center;
  display: block;
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
}

.hero__address {
  margin-top: 14px;
  margin-bottom: 100px;
  text-align: center;
  display: block;
  color: #ffffff;
  font-size: 16px;
}

.hero__button {
  display: block;
  margin: 0 auto;
  padding: 22px 72px;
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
}

.hero-social {
  margin-top: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-social__link {
  width: 26px;
  height: 26px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.hero-social__link:not(:last-child) {
  margin-right: 10px;
}

.hero-social__image {
  display: block;
  margin: 0 auto;
  margin-top: 6.5px;
}

.about-yoga {
  background-color: #f8f2e4;
  padding: 50px 0;
}

.about-yoga-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-yoga__image {
  margin-right: 80px;
}

.about-yoga-text {
  margin-top: 50px;
}

.about-yoga-text__title {
  font-size: 30px;
  font-family: 'Muller-Medium', sans-serif;
  font-weight: 700;
}

.about-yoga-text__big-title {
  font-size: 48px;
  text-transform: uppercase;
  font-family: 'Muller-Medium', sans-serif;
  font-weight: 700;
}

.about-yoga-text__text {
  font-size: 16px;
  max-width: 400px;
  margin-bottom: 40px;
}

.about-yoga-text__item {
  margin-top: 15px;
  position: relative;
}

.about-yoga-text__definition {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 21px;
  font-size: 18px;
  text-transform: uppercase;
}

.causes__title {
  text-align: center;
  font-size: 36px;
  font-family: 'Muller-Medium', sans-serif;
  font-weight: 700;
}

.causes__line {
  margin-top: 20px;
}

.causes-list {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.causes-list__item {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

.causes-list__item:nth-last-child(-n+2) {
  margin-top: 45px;
}

.causes-list__image {
  margin: 0 auto;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: none;
}

.causes-list__text {
  margin-top: 20px;
  display: block;
  text-align: center;
  font-size: 16px;
}

.schedule__title {
  text-align: center;
  font-size: 36px;
  font-family: 'Muller-Medium', sans-serif;
  font-weight: 700;
}

.schedule__line {
  margin-top: 20px;
  margin-bottom: 50px;
}

.schedule-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.schedule-list__item {
  display: block;
  -ms-flex-preferred-size: 24%;
      flex-basis: 24%;
  background-color: #f8f2e4;
  margin-top: 20px;
}

.schedule-list__days {
  margin-top: 30px;
  display: block;
  text-align: center;
}

.schedule-list__title {
  margin-top: 13px;
  text-align: center;
}

.schedule-list__more {
  margin: 18px 0;
  display: block;
  text-align: center;
}

.schedule-list__button {
  display: block;
  border-color: #e28234;
  color: #e28234;
  padding: 15px 30px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.schedule-list__button:hover {
  background-color: #e28234;
  color: #ffffff;
}

.ayurveda__title {
  text-align: center;
  font-size: 36px;
  font-family: 'Muller-Medium', sans-serif;
  font-weight: 700;
}

.ayurveda__line {
  margin-top: 20px;
  margin-bottom: 70px;
}

.ayurveda__text {
  margin: 0 auto;
  text-align: center;
  max-width: 920px;
  font-size: 18px;
}

.ayurveda__subtitle {
  text-align: center;
  font-family: 'Muller-Medium', sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.ayurveda-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ayurveda-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.ayurveda-list__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 40px;
}

.ayurveda-list__text {
  font-size: 18px;
  width: 450px;
}

.ayurveda-center {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ayurveda-center__images {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ayurveda-center__item {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  margin-bottom: 20px;
}

.ayurveda-center__image {
  width: 139px;
  height: 139px;
}

.ayurveda-text-block {
  margin-left: 50px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.ayurveda-text-block__title {
  margin-bottom: 10px;
  font-size: 30px;
  font-family: 'Muller-Medium', sans-serif;
  font-weight: 700;
}

.ayurveda-text-block__adress {
  display: block;
  color: #4b4b4b;
  font-size: 14px;
  margin-bottom: 35px;
}

.ayurveda-text-block__text {
  font-size: 12px;
  margin-bottom: 58px;
  max-width: 480px;
}

.ayurveda-text-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ayurveda-text-block__item {
  margin-bottom: 10px;
}

.ayurveda-text-block__column {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.ayurveda-text-block__icon {
  vertical-align: top;
  display: inline-block;
}

.ayurveda-text-block__descripton {
  margin-left: 15px;
  display: inline-block;
  width: 200px;
  font-size: 12px;
  color: #454545;
}

.instructors {
  background-color: #f8f2e4;
}

.instructors__title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

.instructors__line {
  margin-bottom: 70px;
}

.instructors-people-women, .instructors-people-man {
  position: relative;
  background-image: url("../img/instructors/women.jpg");
  width: 940px;
  height: 540px;
  margin: 0 auto;
}

.instructors-people__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #444444;
  opacity: 0.5;
  color: #ffffff;
}

.instructors-people__name {
  font-size: 30px;
  margin-bottom: 15px;
  font-family: 'Muller-Medium', sans-serif;
  font-weight: 700;
}

.instructors-people__title {
  width: 30%;
  max-width: 240px;
  margin: auto 0;
  margin-right: 50px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.instructors-people__specialty {
  font-size: 16px;
  font-family: 'Muller-Italic', sans-serif;
  font-weight: 400;
}

.instructors-people__about {
  width: 70%;
  max-width: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.instructors-people__about::before {
  content: ' ';
  width: 2px;
  height: 72px;
  background-color: #fff;
  float: left;
  margin-right: 45px;
}

.instructors-people-man {
  margin-top: 20px;
  background-image: url("../img/instructors/man.jpg");
}

.reviews__title {
  text-align: center;
  font-size: 36px;
  font-family: 'Muller-Medium', sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
}

.reviews__line {
  margin-bottom: 80px;
}

.reviews-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews-slider__image {
  max-width: 150px;
  max-height: 150px;
}

.reviews-slider__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews-slider__title {
  font-size: 18px;
  margin-bottom: 5px;
}

.reviews-slider__title-bold {
  font-family: 'Muller-Medium', sans-serif;
  font-weight: 700;
}

.reviews-slider__link {
  text-decoration: underline;
  color: #c94410;
  font-size: 12px;
}

.reviews-slider__review {
  margin-top: 17px;
  width: 640px;
  font-size: 14px;
  font-family: 'Muller-Italic', sans-serif;
  font-weight: 400;
}

.reviews-slider__text {
  margin-left: 40px;
}

.advantages {
  background-color: #f8f2e4;
}

.advantages__title {
  text-align: center;
  font-family: 'Muller-Medium', sans-serif;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 20px;
}

.advantages__line {
  margin-bottom: 10px;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantages-list__image {
  display: block;
  margin: 0 auto;
}

.advantages-list__item {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  margin-top: 60px;
}

.advantages-list__title {
  text-align: center;
  margin-top: 40px;
  font-size: 18px;
  font-family: 'Muller-Medium', sans-serif;
  font-weight: 700;
}

.advantages-list__text {
  margin-top: 20px;
  display: block;
  text-align: center;
  font-size: 16px;
}

.work__title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

.work__line {
  margin-bottom: 40px;
}

.work__subtitle {
  display: block;
  text-align: center;
  font-size: 18px;
  font-family: 'Muller-Italic', sans-serif;
  font-weight: 400;
}

.work-list {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work-list__arrow {
  width: 25px;
  height: 17px;
  margin: auto 0px;
  margin-top: 37px;
}

.work-list__image {
  display: block;
  margin: 0 auto;
}

.work-list__text {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.work-list__link {
  margin-top: 7px;
  display: block;
  text-align: center;
  text-decoration: underline;
  color: #ea7231;
}

.coast {
  background-color: #f8f2e4;
}

.coast__title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
}

.coast__line {
  margin-bottom: 55px;
}

.coast-tours {
  width: 820px;
  margin: 0 auto;
}

.coast-tours__usual {
  padding: 50px;
  background-color: #fff;
}

.coast-tours__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.coast-tours__bold {
  font-family: 'Muller-Medium', sans-serif;
  font-weight: 700;
}

.coast-tours__text {
  font-size: 21px;
}

.coast-tours__coast {
  font-size: 20px;
}

.coast-tours__special {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f4e1b6;
  padding: 25px 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coast-tours__sentence {
  font-size: 20px;
  font-family: 'Muller-Medium', sans-serif;
  font-weight: 700;
}

.coast-tours__button {
  padding: 15px 45px;
  color: #e28234;
}

.coast-tours__button:hover {
  background-color: #e28234;
  border-color: #e28234;
  color: #ffffff;
}

.coast__subtitle {
  text-align: center;
  font-size: 24px;
  font-family: 'Muller-Medium', sans-serif;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 40px;
}

.coast-list__item {
  width: 680px;
  display: block;
  margin: 0 auto;
  margin-bottom: 6px;
}

.coast-list__text {
  color: #4e4e4e;
  font-size: 18px;
}

.coast__warning {
  display: block;
  text-align: center;
  font-size: 18px;
  margin-top: 48px;
}

.safety__title {
  font-size: 36px;
  font-family: 'Muller-Medium', sans-serif;
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */